/* You can add global styles to this file, and also import other style files */
.heading {
  background-color: orange;
  color: white;
  padding: 10px;
  border-radius: 10px;
}

.child-nav {
  display: flex;
  gap: 20px;
  align-items: center;
}

.child-nav a {
  color: brown;
}

.error {
  color: red
}
