<!-- <h1>{{ name }}</h1>
<h2>{{ email }}</h2>
<h2>{{ 10 + 20 + 30 }}</h2>
<h2>{{ getName(10, 20) }}</h2>
<app-profile></app-profile>
<app-profile></app-profile>
<app-profile></app-profile>
<app-profile></app-profile>
<app-profile></app-profile>
<app-profile></app-profile> -->

<!-- <h1>Event Binding</h1>
<p>Count Value: {{ count }}</p>
<button (click)="counter('plus')">Increment</button>
<button (click)="counter('minus')">Decrement</button>
<button (click)="showUserName()">Show</button> -->

<!-- <h1>Events</h1>
<input type="text" (input)="handleEvent($event.type)" />
<input type="text" (change)="handleEvent($event.type)" />
<button (click)="handleEvent($event.type)">Click</button>
<select (change)="handleEvent($event.type)" name="" id="">
  <option value="">Car</option>
  <option value="">Bike</option>
  <option value="">Jeep</option>
</select>
<input type="text" (blur)="handleEvent($event.type)" />
<input type="text" (focus)="handleEvent($event.type)" />

<div class="div1" (mouseenter)="handleEvent($event.type)"></div>
<div class="div2" (mouseleave)="handleEvent($event.type)"></div> -->

<!-- <h2>{{ data }}</h2>
<button (click)="updateData(60)">Update Data</button>
<button (click)="handleEvent($event)">Click</button>
<input type="text" (change)="handleEvent($event)" /> -->

<!-- <h2>Property Binding</h2> -->
<!-- <button disabled="{{ btnDisable }}">Click Me</button>
<button [disabled]="btnDisable">Click Me</button> -->
<!-- <input type="text" readonly="{{ inputReadonly }}" /> -->
<!-- <input type="text" [readonly]="inputReadonly" /> -->
<!-- <button (click)="toggle()">Toggle</button> -->

<!-- <img [src]="url" alt="sample-image" /> -->

<!-- <h2>Signals</h2>
<button (click)="updateData()">Update Data</button>
<h3>{{ data }}</h3>
<button (click)="updateSignal()">Update Signal</button>
<h3>Signal: {{ count() }}</h3> -->

<!-- <h1>Computed Signals</h1>
<h2>Area: {{ area() }}</h2>
<h2>Height: {{ height() }}</h2>

<button (click)="handleHeight()">Update Height</button> -->

<!-- <h1>Effects</h1>
<h2 [style.color]="color">{{ speed() }}</h2>
<button (click)="increaseSpeed()">Increase Speed</button>
<hr />

<h2>{{ fruit() }}</h2>
<button (click)="changeFruit()">Change Fruit</button> -->

<!-- <h2>Signals Data Types</h2>
<h3>{{ this.users().map((item)=>item.toUpperCase()) }}</h3>
<button (click)="handleData()">Show Updated Users</button> -->

<!-- <p>Value: {{ name() }}</p>

<input type="text" [value]="name()" (input)="setValue($event.target.value)" />
<button (click)="resetValue()">Reset Value</button> -->

<!-- <style>
  div {
    font-size: 30px;
    padding: 20px;
    margin: 20px;
  }
</style>

<h1 class="heading"><button class="btn btn-primary">Login</button> Style in Angular</h1>
<app-user-data></app-user-data>
<app-admin-data></app-admin-data>

<div style="border: 1px solid green"><h1 class="heading2">Mid Area</h1></div> -->
<!--
<h1>Control Flow Statements</h1>
<div style="display: flex; flex-direction: column; gap: 10px">
  @if (isLogin()) {
    <span>Welcome, User</span>
    <button style="width: fit-content" (click)="handleLogin()">Logout</button>
  } @else {
    <span>Please Login</span>
    <button style="width: fit-content" (click)="handleLogin()">Login</button>
  }
</div>

<hr />

<h2>Toggle</h2>

<h3>{{ show() }}</h3>
@if (show()) {
  <button (click)="show.set(false)">Hide</button>
} @else {
  <button (click)="show.set(true)">Show</button>
}

<hr />
<h2>Check Status</h2>

<select name="" id="" (change)="handleUpdateStatus($event)">
  <option value="notStarted">Not Started</option>
  <option value="progress">In Progress</option>
  <option value="success">Success</option>
  <option value="error">Error</option>
</select>

<br />
<br />

@if (status() == 'notStarted') {
  <span style="color: black">Not Started</span>
} @else if (status() == 'progress') {
  <span style="color: orange">In Progress</span>
} @else if (status() == 'success') {
  <span style="color: green">Success</span>
} @else if (status() == 'error') {
  <span style="color: red">Error</span>
} -->

<!-- <h1>For Loop | Control Flow Statement</h1>

<div>
  <ul>
    @for (user of users(); track user) {
      <li>{{ user }}</li>
      <br />
    }
  </ul>

  <ul>
    @for (user of usersDetail(); track user.id) {
      <li style="padding: 10px; width: 90%" [style.backgroundColor]="$odd ? '#F9F6EE' : '#E2DFD2'">
        <span
          >{{ `${$index + 1}. ${user.name} - ${user.hobby} - ${user.email}` }}
          @if ($first) {
            <span style="font-weight: bold; color: green">- Admin</span>
          }
          @if ($last) {
            <span style="font-weight: bold; color: red">- Guest</span>
          }
        </span>
      </li>
      @if ($count == $index + 1) {
        <p style="font-weight: bold">
          Total Users:

          <span style="color: orange; font-size: 20px">{{ $count }}</span>
        </p>
      }
    }
  </ul>
</div> -->

<!-- <h1>Switch Case | Control Flow Statement</h1>

<select name="" id="" (change)="handleStatusUpdate($event)">
  <option value="notStarted">Not Started</option>
  <option value="progress">In Progress</option>
  <option value="success">Success</option>
  <option value="error">Error</option>
</select>
<br />
<br />

@switch (status()) {
  @case ('notStarted') {
    <span>No Update Yet</span>
  }
  @case ('progress') {
    <span style="color: orange">In Progress</span>
  }
  @case ('success') {
    <span style="color: green">Success</span>
  }
  @default {
    <span style="color: red">Error</span>
  }
} -->

<!-- <h1>Two Way Data Binding</h1> -->

<!-- <h2>{{ name() }}</h2>
<input type="text" [value]="name()" (input)="name.set($event.target.value)" />

<hr />

<h2>{{ age }}</h2>
<input type="text" [(ngModel)]="age" />
<input type="text" [ngModel]="age" (ngModelChange)="age = $event" />

<hr />
-->

<!-- <h2>{{ userData().name }}</h2>
<input
  type="text"
  [value]="userData().name"
  (input)="updateUserData('name', $event.target.value)"
/>

<hr />

<h2>{{ userData().age }}</h2>
<input type="text" [value]="userData().age" (input)="updateUserData('age', $event.target.value)" /> -->

<!-- <hr />

<h2>{{ userData().email }}</h2>
<input
  type="text"
  [value]="userData().email"
  (input)="updateUserData('email', $event.target.value)"
/> -->

<!-- <h1>Getter and Setter</h1>

<h2>{{ uName }}</h2>
<input type="text" [(ngModel)]="uName" />

<hr />

<h2>{{ studentName }}</h2>
<input type="text" [(ngModel)]="studentName" /> -->

<!-- <h1>Directives</h1> -->

<!-- <h2 *ngIf="isLoggedin()">Welcome User</h2>

<div>
  <ul *ngFor="let user of users()">
    <li>{{ user }}</li>
  </ul>
</div>

<p [ngStyle]="{ color: pColor }">Hello Visitors</p> -->
<!--
<div>
  <ul *ngFor="let user of users()">
    <li>{{ user }}</li>
  </ul>
</div> -->

<!-- <div>
  <ul *ngFor="let x of usersDetail()">
    <li>
      {{ x.name }}, {{ x.hobby }}, {{ x.email }} -
      <span *ngFor="let perm of x.permission">{{ perm }}</span>
    </li>
  </ul>
</div> -->

<!-- <h2>*ngIf Directives</h2> -->

<!-- <h3 *ngIf="isShown">Welcome, User</h3> -->

<!-- <div *ngIf="login; else elseBlock">
  <button>Logout</button>
</div>

<ng-template #elseBlock>
  <button>Login</button>
</ng-template> -->

<!-- <div *ngIf="block == 1">
  <h1>Heading 1</h1>
</div>

<div *ngIf="block == 2">
  <h2>Heading 2</h2>
</div>

<div *ngIf="block == 3">
  <h3>Heading 3</h3>
</div>

<button (click)="updateBlock()">Update Block Count</button> -->

<!-- <h2>*ngSwitch Directives</h2>

<button (click)="changeColor('red')">Red</button>
<button (click)="changeColor('green')">Green</button>
<button (click)="changeColor('yellow')">Yellow</button>
<button (click)="changeColor('blue')">Blue</button>
<button (click)="changeColor('pink')">Pink</button>

<div [ngSwitch]="color">
  <h3 *ngSwitchCase="'red'" style="background-color: red">Red Color</h3>
  <h3 *ngSwitchCase="'green'" style="background-color: green">Green Color</h3>
  <h3 *ngSwitchCase="'yellow'" style="background-color: yellow">Yellow Color</h3>
  <h3 *ngSwitchCase="'blue'" style="background-color: blue">Blue Color</h3>
  <h3 *ngSwitchCase="'pink'" style="background-color: pink">Pink Color</h3>
  <h3 *ngSwitchDefault>No Color Matched</h3>
</div> -->

<!-- <h1>Custom Components</h1>
<app-footer></app-footer> -->

<!-- <h1>Inline Template</h1> -->

<!-- <app-search-box></app-search-box> -->

<!-- @for (num of nums(); track num) {
  <app-search-box></app-search-box>
  <br />
} -->

<!-- <h1>Passing Data</h1> -->

<!-- <h3>{{ userName() }}</h3>

<app-child [userName]="userName()"></app-child>
<app-child [userName]="'Ahmed'"></app-child> -->

<!-- <h3>Selected User: {{ selectedUser() }}</h3>

<br />

<input type="text" placeholder="Enter Name..." [(ngModel)]="userName" id="input" />
<button (click)="addNewUser()">Add New User</button>

@for (user of users(); track user) {
  <app-child
    [userName]="user"
    (setSelectedUser)="setSelectedUser($event)"
    (deleteSelectedUser)="deleteSelectedUser($event)"
  ></app-child>
} -->

<!-- <h1>Global State Sharing</h1>

<app-display-count></app-display-count>
<hr />
<app-control-count></app-control-count> -->

<!-- <h1>Pipes</h1>

<h3>{{ title() | uppercase }}</h3>
<h3>{{ title() | titlecase }}</h3>

<h3>{{ name() | titlecase }}</h3>
<input type="text" (input)="name.set($event.target.value)" />

<hr />

<h3>I Bought {{ mobile | titlecase }} on {{ date }} in {{ amount | currency: 'PKR' }}</h3>

<h3>{{ amount | currency: 'USD' }}</h3>
<hr />
<h3>{{ today | date }}</h3>
<h3>{{ today | date: 'MM' }}</h3>
<h3>{{ today | date: 'dd' }}</h3>
<h3>{{ today | date: 'yy' }}</h3>
<h3>{{ today | date: 'short' }}</h3>
<h3>{{ today | date: 'full' }}</h3>

<hr />

<h2>{{ user() | json }}</h2> -->

<!-- <h1>Custom Pipes</h1>

<h3>{{ title() | trimText | uppercase }}</h3>
<h3>{{ name() | trimText: 5 | lowercase }}</h3>
<h3>{{ name() | trimText: 1 }}</h3>
<h3>{{ name() | trimText: 12 }}</h3>

<hr />

<h3>{{ amount() | currencyConverter | currency: 'USD' }}</h3>
<h3>{{ amount() | currencyConverter: 30 | currency: 'USD' }}</h3> -->

<!-- <app-header></app-header>

<router-outlet></router-outlet> -->

<!-- <button (click)="loadUserDetails()">Load User Details</button>

<ng-container #container></ng-container> -->

<!-- <h1>Reactive Forms</h1> -->

<!-- <ul>
  <li>Email: {{ email.value }}</li>
  <li>Password: {{ password.value }}</li>
</ul>

<input type="email" placeholder="Enter email..." [formControl]="email" />
<br />
<br />
<input type="password" placeholder="Enter password..." [formControl]="password" />
<br />
<br />
<button (click)="login()">Login</button>
<button (click)="reset()">Reset</button> -->

<!-- <ul>
  <li>Name: {{ loginForm.value.name }}</li>
  <li>Email: {{ loginForm.value.email }}</li>
  <li>Password: {{ loginForm.value.password }}</li>
</ul>
<br /><br />
<form [formGroup]="loginForm" (ngSubmit)="handleSubmit()" method="post">
  <input type="text" name="" id="" formControlName="name" placeholder="Enter name..." />
  <br /><br />
  <input type="email" name="" id="" formControlName="email" placeholder="Enter email..." />
  <br /><br />
  <input type="password" name="" id="" formControlName="password" placeholder="Enter password..." />
  <br /><br />
  <button>Submit</button>
  <button (click)="reset()">Reset</button>
</form> -->

<!-- <h1>Reactive Forms</h1> -->

<!-- <ul>
  <li>Email: {{ email.value }}</li>
  <li>Password: {{ password.value }}</li>
</ul>

<input type="email" placeholder="Enter Email" [formControl]="email" />
<br /><br />
<input type="password" placeholder="Enter Password" [formControl]="password" />
<br /><br />
<button (click)="login()">Login</button>
<button (click)="reset()">Reset</button> -->

<!-- <h2>Reactive Form - Form Group</h2> -->

<!-- <ul> -->
<!--   <li>Name: {{loginForm.value.name}}</li> -->
<!--   <li>Email: {{loginForm.value.email}}</li> -->
<!--   <li>Password: {{loginForm.value.password}}</li> -->
<!-- </ul> -->

<!-- <form [formGroup]="loginForm" (ngSubmit)="handleProfile()" method="post"> -->
<!--   <input type="text" placeholder="Enter name" formControlName="name" /> -->
<!--   <br /> -->
<!--   @if(name?.hasError('required') && name?.touched) { -->
<!--   <span class="error">This name field is required</span> -->
<!--   } -->
<!--   <br /> -->
<!---->
<!--   <input type="email" placeholder="Enter email" formControlName="email" /> -->
<!--   <br /> -->
<!--   @if(email?.errors?.['email'] && email?.touched) { -->
<!--   <span class='error'>This email field is not valid</span> -->
<!--   } -->
<!---->
<!--   @if(email?.errors?.['required'] && email?.touched) { -->
<!--   <span class='error'>This email field is required</span> -->
<!--   } -->
<!--   <input type="password" placeholder="Enter password" formControlName="password" /> -->
<!--   <br /> -->
<!--   @if(password?.errors?.['required'] && password?.touched) { -->
<!--   <span class='error'>This password field is required</span> -->
<!--   } -->
<!--   @if(password?.errors?.['minlength'] && password?.touched) { -->
<!--   <span class='error'>This password should be atleast 8 charachters long</span> -->
<!--   } -->
<!--   @if(password?.errors?.['maxlength'] && password?.touched) { -->
<!--   <span class='error'>This password should not exceed 16 charachters</span> -->
<!--   } -->
<!---->
<!--   <br /> -->
<!---->
<!--   <button type="submit" [disabled]="loginForm.invalid">Submit</button> -->
<!--   <button type="reset" (click)="reset()">Reset</button> -->
<!-- </form> -->

<!-- <h1>Forms With Signals</h1> -->
<!---->
<!-- <ul> -->
<!--   <li>Email: {{loginForm.email().value()}}</li> -->
<!--   <li>Password: {{loginForm.password().value()}}</li> -->
<!-- </ul> -->
<!---->
<!-- <input type="email" placeholder="Enter email" [formField]="loginForm.email"> -->
<!-- @if(loginForm.email().touched() && loginForm.email().invalid()) { -->
<!-- <ul> -->
<!--   @for (error of loginForm.email().errors(); track error) { -->
<!--   <li>{{error.message}}</li> -->
<!--   } -->
<!-- </ul> -->
<!-- } -->
<!-- <br /> -->
<!-- <br /> -->
<!-- <input type="password" placeholder="Enter password" [formField]="loginForm.password"> -->
<!-- @if(loginForm.password().touched() && loginForm.password().invalid()) { -->
<!-- <ul> -->
<!--   @for(error of loginForm.password().errors(); track error) { -->
<!--   <li>{{error.message}}</li> -->
<!--   } -->
<!-- </ul> -->
<!-- } -->
<!-- <br /> -->
<!-- <br /> -->
<!-- <button (click)="login()" [disabled]="loginForm().invalid()">Submit</button> -->
<!-- <button (click)="reset()">Reset</button> -->

<!-- <h1>Template Driven Form</h1> -->
<!---->
<!-- <ul> -->
<!--   <li>Name: {{userDetails?.username}}</li> -->
<!--   <li>Password: {{userDetails?.password}}</li> -->
<!--   <li>Gender: {{userDetails?.gender}}</li> -->
<!--   <li>Bio: {{userDetails?.userBio}}</li> -->
<!-- </ul> -->
<!---->
<!-- <form #userForm="ngForm" (ngSubmit)="addUser(userForm.value)"> -->
<!--   <input type="text" name="username" placeholder='Enter username' ngModel /> -->
<!--   <br /> -->
<!--   <br /> -->
<!--   <input type="password" name="password" placeholder='Enter password' ngModel /> -->
<!--   <br /> -->
<!--   <br /> -->
<!--   <select name="gender" ngModel> -->
<!--     <option value="">Select Gender</option> -->
<!--     <option value="male">Male</option> -->
<!--     <option value="Female">Female</option> -->
<!--   </select> -->
<!--   <br /> -->
<!--   <br /> -->
<!--   <textarea rows="" name='userBio' ngModel cols=""></textarea> -->
<!--   <br /> -->
<!--   <br /> -->
<!--   <button>Add User</button> -->
<!-- </form> -->

<!-- <h1>Services in Angular</h1> -->
<!---->
<!-- <ul> -->
<!--   @for(product of productData(); track product["id"]) { -->
<!--   <li>{{product["name"]}} - {{product["price"]}}</li> -->
<!--   } -->
<!-- </ul> -->

<!-- <h1>Fetching Data</h1> -->

<!-- <ul> -->
<!--   @for(user of usersData(); track user.id) { -->
<!--   <ul class="product-ul"> -->
<!--     <li>Name: {{user.firstName}}</li> -->
<!--     <li>Last Name: {{user.lastName}}</li> -->
<!--     <li>Age: {{user.age}}</li> -->
<!--   </ul> -->
<!--   } -->
<!-- </ul> -->

<!-- <router-outlet></router-outlet> -->

<!-- <app-user-list></app-user-list> -->

<!-- <h1>User List</h1>

<ul>
  @for (user of usersData(); track user.id) {
    <ul class="product-ul">
      <li>Id: {{ user.id }}</li>
      <li>Name: {{ user.name | titlecase }}</li>
      <li>Age: {{ user.age }}</li>
      <li>Email: {{ user.email }}</li>
    </ul>
  }
</ul> -->
<!-- <ul>
  <li><a [routerLink]="'/'">User List</a></li>
  <li><a [routerLink]="'add-user'">Add User</a></li>
</ul>
<router-outlet></router-outlet> -->

<h1>Observables in Angular</h1>
<div>
  @for (x of data(); track $index) {
    {{ x }}
  }
</div>
<button (click)="GetAsyncData()">Get Data</button>
